<div class="topnav">
    <a class="active" href="/loginForm">Login</a>
    <a href="/registrationF">Registration Form</a>
    <a href="/newPost">Add post</a>
    <a href="/searchByEmail">Search Post</a>
    <a href="/blogs">My blogs</a>
</div>