<head>
    <%- include('head'); -%>

<body>
    <%- include('navigation'); -%>

        <h1 style="color: white;">
            <span style="color: white;">Title : </span>
            <%= post.title %>
        </h1>
        <p style="color: white;">
            <span style="color: white;">Detail : </span>
            <%= post.detial %>
        </p>


</body>
</head>